@import '../../styles/utils/_variables.scss';
@import '../../styles/utils/_mixins.scss';

.instructors {
  @include center-flex();
  @include size(100%, auto);
  background-color: #f3ede9;
  flex-direction: column;
  position: relative;

  background-image: url('../../../public/images/instructors/instructors-bottom-bc.webp');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;

  margin-top: -2px;
  padding-top: 40px;
  padding-bottom: 80px;

  @media (max-width: 1200px) {
    padding-bottom: 100px;
    padding-left: 5%;
    padding-right: 5%;
  }

  @media (max-width: 479px) {
    padding-top: 10vw;
    padding-bottom: 18vw;
    gap: 10vw;
  }

  &_wrapper {
    max-width: 1176px;
    width: 100%;
  }

  &_title {
    font-size: 45px;
    font-family: var(--font-DuskDemon);
    line-height: 100%;
    color: #333;

    text-align: right;
    margin-top: 0;
    margin-bottom: 20px;
    margin-left: auto;

    @media (max-width: 479px) {
      font-size: 10vw;
    }
  }

  &_subtitle {
    color: #333;
    text-align: right;
    text-transform: uppercase;
    font-family: var(--font-Montserrat);
    line-height: 120%;
    width: 459px;
    padding-bottom: 20px;
    margin-left: auto;

    @media (max-width: 768px) {
      width: 100%;
    }

    @media (max-width: 479px) {
      padding-bottom: 30px;
      font-size: 3.5vw;
    }
  }

  &_cards {
    display: flex;
    flex-basis: 0;
    gap: 30px;

    @media (max-width: 1200px) {
      gap: 30px;
    }

    @media (max-width: 768px) {
      flex-direction: column;
      flex-basis: initial;
      align-items: center;
    }

    @media (max-width: 479px) {
      gap: 75px;
    }
  }

  &_card {
    width: 100%;
    height: 100%;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (min-width: 768px) {
      max-width: 558px;
    }
    @media (max-width: 768px) {
      width: 100%;
      border-radius: 10px;
    }
  }

  &_card_bottom {
    margin-top: auto;
  }

  &_photos {
    display: block;
    object-fit: cover;
    width: 100%;
    min-height: 340px;
    border-radius: 5px;
    overflow: hidden;
    @media (max-width: 490px) {
      height: 100%;
    }
  }

  &_info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (max-width: 1200px) {
      gap: 20px;
    }
  }

  &_info_inst {
    color: #333;
    text-align: left;
    margin-top: 30px;
    font-family: var(--font-DuskDemon);
    font-size: 24px;
    line-height: 100%;
    text-decoration: none;

    @media (max-width: 1200px) {
      margin-bottom: 0;
    }

    @media (max-width: 768px) {
      font-size: 30px;
    }

    @media (max-width: 479px) {
      font-size: 7vw;
    }
  }

  &_info_name {
    color: #333;
    font-family: var(--font-Montserrat);
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
  }

  &_infoContent {
    display: flex;
    flex-direction: column;
    height: fit-content;
    gap: 20px;

    @media (max-width: 479px) {
      gap: 6vw;
    }
  }

  &_infoTitle {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &_infoText {
    color: #a3978d;
    text-align: left;
    text-transform: uppercase;
    font-family: var(--font-Montserrat);
    font-weight: 400;
    line-height: 160%;
    // margin-bottom: 20px;
    font-size: 14px;

    @media (max-width: 479px) {
      font-size: 3.5vw;
    }
  }

  &_line {
    border-left: 1px solid #333;
    height: 806px;

    @media (max-width: 768px) {
      display: none;
    }
  }
}
