@import '../../styles/utils/_variables.scss';
@import '../../styles/utils/_mixins.scss';

.instructors {
  @include center-flex();
  @include size(100%, auto);
  background-color: #f3ede9;
  margin-top: -2px;
  flex-direction: column;
  padding-bottom: 180px;

  &_title {
    font-size: 45px;
    font-family: var(--font-DuskDemon);
    line-height: 100%;
    margin-top: 0;
    text-align: center;
    color: #333;
    padding-bottom: 20px;
  }

  &_subtitle {
    color: #a3978d;
    text-align: center;
    text-transform: uppercase;
    font-family: var(--font-Montserrat);
    font-weight: 500;
    line-height: 120%;
    width: 580px;
    padding-bottom: 60px;
  }

  &_cards {
    display: flex;
    gap: 200px;
  }

  &_card {
    @include size(480px, 780px);
    background-color: #333439;
    border-radius: 15px;
    overflow: hidden;
    justify-content: space-between;
  }

  &_photos {
    object-fit: cover;
  }

  &_info {
    height: 440px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    display: flex;
  }

  &_infoSection {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    flex-direction: column;
    display: flex;
  }

  &_infoTitle {
    color: $white;
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
    font-family: var(--font-DuskDemon);
    font-size: 26px;
    line-height: 120%;
  }

  &_infoText {
    color: #a3978d;
    text-align: left;
    text-transform: uppercase;
    font-family: var(--font-Montserrat);
    font-weight: 500;
    line-height: 130%;
  }

  &_btn {
    @include center-flex();
    @include size(auto, 50px);
    color: #000;
    background-color: #fec401;
    border-radius: 10px;
    font-family: var(--font-Montserrat);
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      background-color: #ffd135;
    }
  }

  // &_stroke {
  //   background-position:
  //     50% 100%,
  //     200px 0;
  //   background-repeat: no-repeat, no-repeat;
  //   background-size: contain, auto;
  // }
}

.orange {
  color: #e5a40e;
}
