@import '../../styles/utils/_variables.scss';
@import '../../styles/utils/_mixins.scss';

.section {
  @include center-flex();
  display: flex;
  gap: 30px;
  max-width: 1176px;
  width: 100%;
  padding: 50px 0;

  @media (max-width: 930px) {
    flex-direction: column;
  }

  @media (max-width: 790px) {
    padding: 50px 0 20px 0;
  }

  @media (max-width: 490px) {
    padding: 30px 0;
  }
}

.text_wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;

  text-align: center;

  @media (max-width: 490px) {
    text-align: start;
  }
}

.text {
  font-size: 16px;
  font-family: var(--font-Montserrat), sans-serif;
  width: 100%;
  color: #868686;
  text-align: center;
  font-weight: 500;
  line-height: 160%;
  text-transform: uppercase;

  @media (max-width: 490px) {
    font-size: 14px;
    text-align: start;
  }
}

.img {
  border-radius: 10px;
  object-fit: cover;
  max-height: 300px;
  width: 100%;

  @media (max-width: 930px) {
    max-height: 400px;
    object-position: bottom;
  }

  @media (max-width: 490px) {
    max-height: 200px;
  }
}

.bold {
  font-weight: 700;
}
