@import '../../styles/utils/_variables.scss';
@import '../../styles/utils/_mixins.scss';

.services {
  @include center-flex();
  @include size(100%, 812px);
  flex-direction: column;
  padding-top: 650px;
  padding-bottom: 150px;
  background-image: url(https://assets-global.website-files.com/654c9ce5c7b16c83888bfadb/654cc2067f7ce427ea74e36a_ap.svg);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: contain;

  &_title {
    height: auto;
    text-align: center;
    font-family: var(--font-DuskDemon), sans-serif;
    font-size: 45px;
    line-height: 100%;
    color: #333;
    margin-bottom: 20px;
    margin-top: -650px;
  }

  &_text {
    color: #a3978d;
    text-align: center;
    text-transform: uppercase;
    font-family: var(--font-Montserrat), sans-serif;
    font-weight: 500;
    line-height: 120%;

    padding-bottom: 60px;
  }

  &_cards {
    @include center-flex();
    gap: 30px;
  }

  &_card {
    @include size(267px, 430px);
    background-color: #333439;
    border-radius: 15px;
    overflow: hidden;
  }

  &_photo {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  &_image {
    // width: 100%;
    // height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &_info {
    padding: 30px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    flex-direction: column;
    display: flex;
  }

  &_infoTitle {
    font-size: 26px;
    line-height: 120%;
    font-family: var(--font-DuskDemon);
    color: $white;
  }

  &_infoPrice {
    @include center-flex();
    justify-content: space-between;
    font-family: var(--font-Montserrat);
    font-weight: 500;
    line-height: 130%;
    color: #a3978d;
  }

  &_infoPriceOrange {
    color: $yellow-btn;
  }

  &_infoBtn {
    @include center-flex();
    @include size(auto, 50px);
    background-color: #fec401;
    border-radius: 10px;
    font-family: var(--font-Montserrat);
    font-weight: 500;

    &:hover {
      background-color: #ffd135;
    }
  }

  &_btn {
    text-decoration: none;
    color: #000;
  }
}
