@import '@/styles/utils/variables';
@import '../../styles/utils/_mixins.scss';

.categories {
  border-radius: 5px;
  border: 1px solid #333;
}

.categories_item {
  padding: 10px 30px;
  text-transform: uppercase;

  color: #333;
  font-weight: 500;
  line-height: 160%;

  cursor: pointer;
}

.selected {
  border: 1px solid $yellow-btn;

  p {
    color: $yellow-btn;
  }
}
