@import '../../styles/utils/_variables.scss';
@import '../../styles/utils/_mixins.scss';

.section {
  @include center-flex();
  width: 100%;
  max-width: 1176px;
  gap: 30px;
  padding: 50px 0 100px 0;

  @media (max-width: 930px) {
    flex-direction: column;
  }

  @media (max-width: 790px) {
    padding: 20px 0 40px 0;
  }
}

.text_wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;

  @media (max-width: 490px) {
    text-align: start;
  }
}

.title {
  font-size: 34px;
  font-family: var(--font-DuskDemon), sans-serif;
  color: #333;

  @media (max-width: 490px) {
    font-size: 28px;
  }
}

.text {
  font-size: 16px;
  font-family: var(--font-Montserrat), sans-serif;
  width: 100%;
  color: #868686;
  text-align: center;
  font-weight: 500;
  line-height: 160%;
  text-transform: uppercase;

  @media (max-width: 490px) {
    font-size: 14px;
    text-align: start;
  }
}

.img {
  border-radius: 10px;
  object-fit: cover;
  max-height: 300px;
  width: 100%;

  @media (max-width: 930px) {
    max-height: 400px;
    object-position: center;
  }

  @media (max-width: 490px) {
    max-height: 200px;
  }
}

.bold {
  font-weight: 700;
}
