@import '../../styles/utils/_variables.scss';
@import '../../styles/utils/_mixins.scss';

.hero {
  background-color: #f3ede9;
  @include center-flex();
  @include size(100%, 75vh);
  flex-direction: column;
  position: relative;
  overflow: hidden;
  
  @media (max-width: 1355px) {

  }
  
  &_content {
    position: relative;
    z-index: 10;
  }

  &_title {
    color: #333439;
    text-align: center;
    font-family: var(--font-DuskDemon);
    font-size: 70px;
    line-height: 100%;
    padding-bottom: 20px;
  }

  &_image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    object-fit: cover;
  }

  &_bottom_bc {
    width: 100%;
    height: auto;
    object-fit: contain;
    position: absolute;
    left: 0;
    bottom: 0;
  }

  &_text {
    text-align: center;
    color: #a3978d;
    text-transform: uppercase;
    font-family: var(--font-Montserrat);
    font-weight: 500;
    line-height: 120%;

    width: 580px;
    margin: 0 auto 40px;
  }

  &_form {
    @include center-flex();
    gap: 20px;
  }

  &_formField {
    @include size(210px, 60px);
    text-transform: uppercase;
    border-radius: 10px;
    margin-bottom: 0;
    padding: 10px 20px;
    font-family: var(--font-Montserrat);
    font-weight: 500;
  }

  &_button {
    @include size(210px, 60px);
    text-transform: uppercase;
    color: #000;
    background-color: #fec401;
    border-radius: 10px;
    font-family: var(--font-Montserrat), sans-serif;
    font-weight: 500;

    &:hover {
      background-color: #ffd135;
    }
  }
}

.orange {
  color: #e5a40e;
}
