@import '@/styles/utils/variables';
@import '../../styles/utils/_mixins.scss';

.libElement {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &_content {
    display: flex;
    flex-direction: column;
    gap: 16px;

    max-width: 203px;
  }

  &_title {
    font-weight: 500;
    line-height: 160%;
    text-transform: uppercase;
  }

  &_download {
    font-weight: 800;
    line-height: 160%;
    text-transform: uppercase;
  }
}

.line {
  border: 0.5px solid #333;
}
