@import '@/styles/utils/variables';
@import '../../styles/utils/_mixins.scss';

.libElement {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: clamp(10rem, 9.079rem + 3.01vw, 12.688rem);


  @media (max-width: 704px) {
    gap: 16px;
  }
  @media (max-width: 364px) {
    width: 240px;
  }


  &_content {
    display: flex;
    flex-direction: column;
    gap: 16px;


    @media (max-width: 704px) {
      gap: 12px;
    }
  }

  &_title {
    font-weight: 500;
    line-height: 160%;
    text-transform: uppercase;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &_download {
    font-size: 14px;
    font-weight: 800;
    line-height: 160%;
    text-transform: uppercase;
    font-family: var(--font-Montserrat), sans-serif;
  }

  .image {
    width: 100%;
    object-fit: cover;
  }
}

.line {
  border: 0.5px solid #333;
}
