@import '../../styles/utils/_variables.scss';
@import '../../styles/utils/_mixins.scss';

.advantages {
  @include center-flex();
  height: auto;
  background-color: #333;
  padding-top: 160px;
  padding-bottom: 100px;
  flex-direction: column;
  position: relative;

  background-image: url('../../../public/images/advantages/advantages-top-bc.webp');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;

  @media (max-width: 941px) {
    padding-top: 100px;
  }

  @media (max-width: 425px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  &_wrapper {
    max-width: 1176px;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 120px;

    @media (max-width: 942px) {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &_title {
    font-family: var(--font-DuskDemon);
    color: $white;
    font-size: clamp(2.125rem, 1.929rem + 0.98vw, 2.813rem);
    line-height: 100%;
    text-align: left;
    margin-bottom: clamp(1.875rem, 1.339rem + 2.68vw, 3.75rem);
    margin-right: auto;

    @media (max-width: 425px) {
      font-size: 28px;
    }
  }

  &_texts {
    @include center-flex();
    flex-direction: column;
    width: 100%;
    gap: 30px;
    justify-items: center;
    // margin-bottom: clamp(1.875rem, 1.339rem + 2.68vw, 3.75rem);
    @media (max-width: 900px) {
      grid-template-columns: 1fr 1fr;
    }
    @media (max-width: 560px) {
      grid-template-columns: 1fr;
    }
  }

  &_info {
    display: grid;
    grid-template-columns: 1fr 2fr 8fr;
    max-width: 1176px;
    gap: 16px;

    @media (max-width: 942px) {
      grid-template-columns: auto;
    }

    &_number {
      color: #f0c858;
      font-family: var(--font-DuskDemon);
      font-size: 45px;
      line-height: 110%;

      @media (max-width: 425px) {
        font-size: 28px;
      }
    }

    &_title {
      color: #f3ede9;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 20px;
      line-height: 130%;
      @media (max-width: 425px) {
        font-size: 16px;
      }
    }

    &_text {
      color: #868686;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 14px;
      line-height: 160%;
      @media (max-width: 425px) {
      }
    }
  }

  &_line {
    border-top: 1.5px solid #494848;
    width: 1176px;

    @media (max-width: 1200px) {
      // width: 1069px;
      display: none;
    }
  }

  &_bg_top {
    width: 100%;
    height: auto;
    object-fit: contain;
    position: absolute;
    left: 0;
    bottom: 0;
  }
}
