@import '../../styles/utils/_variables.scss';
@import '../../styles/utils/_mixins.scss';

.section {
  @include center-flex();
  @include size(100%, auto);
  position: relative;

  .content {
    @include center-flex();
    flex-direction: column;
    position: absolute;
    z-index: 2;
    max-width: 682px;
    width: 100%;
    gap: 30px;

    @media (max-width: 768px) {
      padding: 30px;
    }
    @media (max-width: 490px) {
      padding: 20px;
    }
  }

  .title {
    color: $white;
    font-family: var(--font-DuskDemon);
    font-size: 45px;
    line-height: 110%;

    @media (max-width: 490px) {
      font-size: 28px;
    }
  }

  .text_wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
    text-align: center;
  }

  .text {
    color: $white;
    text-align: center;
    font-family: var(--font-Montserrat), sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 130%;
    text-transform: uppercase;

    @media (max-width: 490px) {
      font-size: 16px;
    }
  }

  .button {
    color: #420000;
    font-family: var(--font-Montserrat), sans-serif;
    font-weight: 500;
    line-height: 110%;
    text-transform: uppercase;
    padding: 15px 24px;
    border-radius: 5px;
    background: #fec401;
  }

  .image {
    width: 100%;
    max-height: 585px;
    object-fit: cover;
    position: relative;

    @media (max-width: 490px) {
      max-height: 423px;
    }
  }

  .bg_top {
    @include size(100%, auto);
    position: absolute;
    top: -20px;
    left: 0;

    @media (max-width: 768px) {
      top: 0;
    }
  }

  .bg_bottom {
    @include size(100%, auto);
    position: absolute;
    bottom: -20px;
    left: 0;

    @media (max-width: 768px) {
      bottom: 0;
    }
  }
}
