@import '../../styles/utils/_variables.scss';
@import '../../styles/utils/_mixins.scss';

.reviews {
  //@include center-flex();
  @include size(100%, auto);
  flex-direction: column;

  background-color: #f3ede9;
  position: relative;

  margin-top: -2px;
  padding-top: 80px;
  padding-bottom: 160px;

  @media (max-width: 425px) {
    padding-top: 41px;
    padding-bottom: 60px;
  }

  &_bg_top {
    width: 100%;
    height: auto;
    object-fit: contain;
    position: absolute;
    left: 0;
    top: 0;
  }

  &_title {
    display: flex;
    color: #333;
    font-family: var(--font-DuskDemon);
    font-size: 45px;
    line-height: 110%;

    @media (max-width: 425px) {
      font-size: 28px;
    }
  }

  &_title_container {
    @include center-flex();
    width: 100%;
    max-width: 1176px;
    justify-content: space-between;
    margin: 0 auto 50px;

    @media (max-width: 425px) {
      margin: 0 auto 20px;
    }
  }

  &_arrows {
    display: flex;
    gap: 14px;

    & > div {
      cursor: pointer;
    }

    @media (max-width: 550px) {
      display: none;
    }
  }

  &_cards {
    display: flex;
    gap: 30px;

    @media (max-width: 550px) {
      gap: 16px;
    }
  }

  &_card {
    @include size(403px, auto);
    border: 1px solid #a3978d;

    border-radius: 5px;
    padding: 20px;

    @media (max-width: 550px) {
      @include size(228px, 294px);
    }
  }

  &_text {
    color: #a3978d;
    font-family: var(--font-Montserrat);
    font-size: 14px;
    font-weight: 500;
    line-height: 160%;
    text-transform: uppercase;
    margin-bottom: 30px;

    @media (max-width: 550px) {
      font-size: 12px;
    }
  }

  &_name {
    color: #333;
    font-family: var(--font-Montserrat);
    font-size: 14px;
    font-weight: 500;
    line-height: 160%;
    text-transform: uppercase;

    @media (max-width: 550px) {
      font-size: 12px;
    }
  }

  &_bottom_bg {
    width: 100%;
    height: auto;
    object-fit: contain;
    position: absolute;
    left: 0;
    bottom: 0;
  }
}
.swiper_container {
  max-width: 1176px;
  margin: 0 auto;
}
