@import 'utils/setup';

html {
  line-height: 1.5;
  font-size: 100%;
  color: $text-color;
  height: 100%;
}

body {
  min-height: 100dvh;
  background-color: $body;
  color: $text-color;
  position: relative;
  font-family: var(--font-Montserrat);
}


*,
:after,
:before {
  box-sizing: border-box;
}

button,
input {
  appearance: none;
  outline: none;
  border: none;

  &:focus {
    outline: none;
  }
}

input {
  border-radius: 0;
}

button {
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

.container {
  // 1420px + 60px
  max-width: 1480px;
  width: 100%;
  padding: 0 30px;
  box-sizing: border-box;
  margin: 0 auto;

  @include md {
    padding: 0 16px;
  }
}

.hidden {
  display: none;
  visibility: hidden;
}

.hidden-and-visible-lg {
  visibility: hidden;
  display: none !important;

  @include lg() {
    visibility: visible;
    display: flex !important;
  }
}

.hidden-lg-and-visible-md {
  visibility: hidden;
  display: none !important;

  @include md() {
    visibility: visible;
    display: flex !important;
  }
}

.hidden-lg-and-visible-sm {
  visibility: hidden;
  display: none !important;

  @include sm() {
    visibility: visible;
    display: flex !important;
  }
}

.hidden-lg-and-visible-xs {
  visibility: hidden;
  display: none !important;

  @include xs() {
    visibility: visible;
    display: flex !important;
  }
}

.hidden-lg {
  @include lg() {
    visibility: hidden;
    display: none !important;
  }
}

.hidden-md {
  @include md() {
    visibility: hidden;
    display: none !important;
  }
}

.hidden-sm {
  @include sm() {
    visibility: hidden;
    display: none !important;
  }
}

.hidden-xs {
  @include xs() {
    visibility: hidden;
    display: none !important;
  }
}

main {
  min-height: 100dvh;
  position: relative;
  & > section{
    padding: 0 60px;
    @media (max-width: 1024px) {
      padding: 0 30px;
    }
    @media (max-width: 490px) {
      padding: 0 15px;
    }
  }
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid $primary;
  /* Change the color as needed */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


