@import '../../styles/utils/_variables.scss';
@import '../../styles/utils/_mixins.scss';

.about {
  @include center-flex();
  @include size(100%, auto);
  background-color: $white;
  flex-direction: column;

  padding-top: 80px;
  padding-bottom: 120px;

  &_wrapper {
    @include center-flex();
    max-width: 1176px;
    gap: 60px;
    flex-direction: column;
  }

  &_title {
    font-size: 45px;
    color: #333;
    font-family: var(--font-DuskDemon);
    line-height: 110%;
    margin-bottom: 20px;
  }

  &_photos {
    @include center-flex();
    gap: 20px;
    flex-direction: column;
  }

  &_photosFlex {
    display: flex;
    gap: 20px;
  }

  &_photo {
    object-fit: cover;
    margin-top: -90px;

    @media (max-width: 1080px) {
      width: 100%;
      height: auto;
    }
  }

  &_info {
    @include center-flex();
    width: 100%;
    gap: 103px;
    @media (max-width: 1080px) {
      flex-direction: column;
    }
  }

  &_text {
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    display: flex;

    width: 100%;
    color: #a3978d;
    text-align: left;
    font-family: var(--font-Montserrat);
    font-weight: 500;
    line-height: 160%;

    color: var(--9B9FA4, #868686);

    text-transform: uppercase;

    @media (max-width: 490px) {
      font-size: 3.5vw;
    }
  }

  &_btn {
    @include center-flex();
    @include size(327px, 45px);
    background-color: $yellow-btn;
    color: #420000;
    text-align: center;
    border-radius: 5px;
    font-family: var(--font-Montserrat);
    font-weight: 500;
    text-decoration: none;
    font-size: 14px;
    line-height: 110%;
    padding: 15px 24px;

    margin-top: 50px;

    &:hover {
      background-color: #ffd135;
    }
    @media (max-width: 490px) {
      width: 100%;
    }
  }
}
