@import '@/styles/utils/variables';
@import '../../styles/utils/_mixins.scss';

.library {
  @include center-flex();
  @include size(100%, auto);
  padding-top: 50px;
  padding-bottom: 120px;

  @media (max-width: 704px) {
    padding-bottom: 80px;
  }

  &_wrapper {
    max-width: 1176px;
    width: 100%;
  }

  &_title {
    color: #333;
    font-family: var(--font-DuskDemon);
    font-size: 45px;
    line-height: 110%;

    margin-bottom: 30px;
  }

  &_content {
    display: flex;
    gap: 64px;
    padding-top: 40px;

    @media (max-width: 703px) {
      gap: 33px;
    }
    @media (max-width: 550px) {
      flex-direction: column;
    }
  }

  &_filter {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 230px;

    @media (max-width: 550px) {
      width: 100%;
    }
  }

  &_items {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    width: 100%;

    @media (max-width: 550px) {
      justify-content: center;
    }
  }
}

.line {
  @include size(135px, 1px);
  background-color: #333;
}
