@import '@/styles/utils/variables';
@import '../../styles/utils/_mixins.scss';

.library {
  @include center-flex();
  @include size(100%, auto);
  padding-top: 50px;
  padding-bottom: 120px;

  &_wrapper {
    max-width: 1176px;
    width: 100%;
  }

  &_title {
    color: #333;
    font-family: var(--font-DuskDemon);
    font-size: 45px;
    line-height: 110%;

    margin-bottom: 30px;
  }

  &_content {
    display: flex;
    gap: 64px;
    padding-top: 40px;
  }

  &_filter {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &_filter_search {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  &_filter_search_title {
    color: #333;
    font-size: 20px;
    font-weight: 600;
    line-height: 130%;
    text-transform: uppercase;
  }

  &_filter_search_input {
    display: flex;
    padding: 15px 5px 16px 5px;
    gap: 10px;
    align-items: center;
    align-self: stretch;
    border-bottom: 1px solid #46243f;
    max-width: 240px;
  }

  &_filter_search_field {
    color: #333;
    font-size: 12px;
    font-weight: 500;
    line-height: 160%;
    text-transform: uppercase;
  }

  &_items {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }
}

.line {
  @include size(135px, 1px);
  background-color: #333;
}
