@import "@/styles/utils/variables";

.container {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 60px;
  padding-left: 60px;
  font-family: 'Inter', sans-serif;

  .flexible {
    flex-direction: row;
    align-items: flex-end;
    gap: 8px;

    label{
      font-weight: 600;
    }
  }

}

.name {
  font-size: 20px;
  font-weight: 600;
}

.header {
  padding-right: 20px;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  gap: 25px;
}

.form {
  display: flex;
  gap: 50px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.image {
  width: 100%;
  display: flex;
  gap: 25px;
  flex-direction: column;
}

.preview {
  display: flex;
  gap: 20px;
  height: 490px;
}

.previewTitle {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 20px;
}

.firstImg {
  width: 196px !important;
  aspect-ratio: 1/2;
  overflow: hidden;
}

.thirdImg {
  width: 322px !important;
  aspect-ratio: 1;
  overflow: hidden;
}

.imageFile {
  //object-fit: contain;
  //width: 100%;
  //height: 100%;
}
