@import '../../styles/utils/_variables.scss';
@import '../../styles/utils/_mixins.scss';

.header {
  background-color: $bg-color;
  @include center-flex();
  @include size(100%, 80px);

  &_container {
    width: 1160px;
    gap: 30px;

    justify-content: space-between;

    align-items: center;
    display: flex;
  }

  &_logo {
    @include center-flex();
    @include size(260px, 37px);
    color: $white;
  }

  &_navigation {
    @include center-flex();
    color: $white;
    gap: 50px;
    font-weight: 600;
    line-height: 16.8px;
    text-transform: uppercase;

    a {
      color: $white;
      text-decoration: none;
    }
  }

  &_contacts {
    @include center-flex();
    width: 280px;
    gap: 20px;
    justify-content: flex-end;
  }

  &_phoneNum {
    color: $white;
    text-decoration: none;
    font-weight: 600;
    line-height: 120%;
    font-family: var(--font-Montserrat);
  }

  &_icon {
    @include center-flex();
    @include size(40px, 40px);
    background-color: #44454b;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 20px;
    border-radius: 5px;
  }
}
