@import '../../styles/utils/_variables.scss';
@import '../../styles/utils/_mixins.scss';

.section {
  @include center-flex();
  @include size(100%, auto);
  padding: 80px 60px 190px 60px;
  position: relative;

  @media (max-width: 1024px) {
    padding: 80px 30px 190px 30px;
  }

  @media (max-width: 768px) {
    padding: 40px 20px 80px 20px;
  }

  .wrapper {
    max-width: 1176px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;

    @media (max-width: 490px) {
      gap: 24px;
    }
  }

  .title {
    color: #333;
    font-family: var(--font-DuskDemon);
    font-size: 45px;
    line-height: 110%;

    text-align: center;

    @media (max-width: 490px) {
      font-size: 28px;
      text-align: start;
    }
  }

  .accordion {
    max-width: 772px;
  }

  .item {
    padding: 24px 0;

    border-bottom: 1px solid #333;
  }

  // .item:hover {
  //   border-bottom: 1px solid #fec401;
  // }

  .question {
    color: #333;
    font-family: var(--font-Montserrat), sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 130%;
    text-transform: uppercase;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 490px) {
      font-size: 16px;
    }
  }

  .answer {
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0, 1, 0, 1);
  }

  .answer_show {
    color: #333;
    font-family: var(--font-Montserrat), sans-serif;
    font-weight: 500;
    line-height: 160%;
    text-transform: uppercase;
    height: auto;
    margin-top: 19px;
  }

  .content {
    display: flex;
    gap: 116px;
  }

  .logo_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (max-width: 740px) {
      display: none;
    }
  }

  .text {
    color: #333;
    font-family: var(--font-Montserrat), sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 160%;
    text-transform: uppercase;
    margin-top: 27px;
  }

  .bg_bottom {
    @include size(100%, auto);
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
