@import '@/styles/utils/variables';
@import '../../styles/utils/_mixins.scss';

.article {
  .wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 100%;

    @media (max-width: 490px) {
      width: 268px;
    }
  }

  .image_wrapper {
    position: relative;
    aspect-ratio: 279 / 206;

    @media (max-width: 768px) {
      .image_wrapper {
        aspect-ratio: 268 / 206;
      }
    }
  }

  &:nth-child(n + 6) {
    @media (max-width: 1024px) {
      .image_wrapper {
        aspect-ratio: 279 / 206;
      }
    }
    @media (max-width: 768px) {
      .image_wrapper {
        aspect-ratio: 268 / 206;
      }
    }
  }

  .title_wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .title {
    color: #333;
    font-family: var(--font-DuskDemon), sans-serif;
    font-size: 24px;
    line-height: 110%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .text {
    color: #868686;
    font-family: var(--font-Montserrat), sans-serif;
    font-weight: 500;
    line-height: 160%;
    text-transform: uppercase;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .author {
    color: #868686;
    font-family: var(--font-Montserrat), sans-serif;
    font-weight: 500;
    line-height: 160%;
    text-transform: uppercase;
  }

  .date {
    color: #868686;
    font-family: var(--font-Montserrat), sans-serif;
    font-weight: 500;
    line-height: 160%;
    text-transform: uppercase;
  }

  .info_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    flex: 1;
  }

  .info {
    display: flex;
    gap: 8px;
  }

  .img {
    border-radius: 5px;
    object-fit: cover;
  }
}

.big_article {
  position: relative;
  grid-column: span 2;
  grid-row: span 2;
  aspect-ratio: 578 / 752;
  &_responsive {
    aspect-ratio: unset;
    height: 100%;
  }

  @media (max-width: 768px) {
    aspect-ratio: unset;
    grid-column: span 1;
    grid-row: span 1;
  }

  @media (max-width: 768px) {
    aspect-ratio: 578 / 752;
    grid-column: span 2;
  }

  .title {
    color: #f3ede9;
    font-family: var(--font-DuskDemon), sans-serif;
    font-size: 24px;
    line-height: 110%;
  }

  .text {
    display: none;
  }

  .info_wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: absolute;
    padding: 20px;
  }

  .info {
    display: flex;
    gap: 8px;
  }

  .author {
    color: #fff;
    font-family: var(--font-Montserrat), sans-serif;
    font-weight: 500;
    line-height: 160%;
    text-transform: uppercase;
  }

  .date {
    color: #fff;
    font-family: var(--font-Montserrat), sans-serif;
    font-weight: 500;
    line-height: 160%;
    text-transform: uppercase;
  }

  .img {
    border-radius: 5px;
    position: relative;
    object-fit: cover;
  }

  path {
    fill: #fff;
  }
}

.hide_xs {
  @media (max-width: 490px) {
    display: none;
  }
}

.show_xs {
  display: none;
  @media (max-width: 490px) {
    display: flex;
  }
}
