@import '@/styles/utils/variables';
@import '../../styles/utils/_mixins.scss';

.article {
  @include center-flex();
  @include size(279px, auto);

  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .title_wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .title {
    color: #333;
    font-family: var(--font-DuskDemon), sans-serif;
    font-size: 24px;
    line-height: 110%;
  }

  .text {
    color: #868686;
    font-family: var(--font-Montserrat), sans-serif;
    font-weight: 500;
    line-height: 160%;
    text-transform: uppercase;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .author {
    color: #868686;
    font-family: var(--font-Montserrat), sans-serif;
    font-weight: 500;
    line-height: 160%;
    text-transform: uppercase;
  }

  .date {
    color: #868686;
    font-family: var(--font-Montserrat), sans-serif;
    font-weight: 500;
    line-height: 160%;
    text-transform: uppercase;
  }

  .info_wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .info {
    display: flex;
    gap: 8px;
  }

  .img {
    border-radius: 5px;
    object-fit: cover;
  }
}

.big_article {
  position: relative;

  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .title_wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .title {
    color: #f3ede9;
    font-family: var(--font-DuskDemon), sans-serif;
    font-size: 24px;
    line-height: 110%;
  }

  .text {
    display: none;
  }

  .info_wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: absolute;
    padding: 20px;
  }

  .info {
    display: flex;
    gap: 8px;
  }

  .author {
    color: #fff;
    font-family: var(--font-Montserrat), sans-serif;
    font-weight: 500;
    line-height: 160%;
    text-transform: uppercase;
  }

  .date {
    color: #fff;
    font-family: var(--font-Montserrat), sans-serif;
    font-weight: 500;
    line-height: 160%;
    text-transform: uppercase;
  }

  .img {
    @include size(578px, 752px);
    border-radius: 5px;
    position: relative;
    object-fit: cover;

    @media (max-width: 1296px) {
      width: 500px;
    }

    @media (max-width: 1218px) {
      width: 450px;
    }

    @media (max-width: 1167px) {
      width: 400px;
    }

    @media (max-width: 1118px) {
      width: 350px;
    }

    @media (max-width: 1068px) {
      width: 300px;
    }

    @media (max-width: 1018px) {
      width: 100%;
      height: 400px;
    }
  }

  path {
    fill: #fff;
  }
}

.tall_article {
  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 279px;

    @media (max-width: 936px) {
      max-width: 400px;
    }

    @media (max-width: 880px) {
      max-width: 350px;
    }

    @media (max-width: 760px) {
      max-width: 270px;
    }

    @media (max-width: 618px) {
      max-width: 100%;
    }
  }

  .title_wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .title {
    color: #333;
    font-family: var(--font-DuskDemon), sans-serif;
    font-size: 24px;
    line-height: 110%;
  }

  .text {
    color: #868686;
    font-family: var(--font-Montserrat), sans-serif;
    font-weight: 500;
    line-height: 160%;
    text-transform: uppercase;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .author {
    color: #868686;
    font-family: var(--font-Montserrat), sans-serif;
    font-weight: 500;
    line-height: 160%;
    text-transform: uppercase;
  }

  .date {
    color: #868686;
    font-family: var(--font-Montserrat), sans-serif;
    font-weight: 500;
    line-height: 160%;
    text-transform: uppercase;
  }

  .info_wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .info {
    display: flex;
    gap: 8px;
  }

  .img {
    border-radius: 5px;
    object-fit: cover;
    width: 100%;
    height: 311px;
    max-width: 100%;
  }
}

.swiper {
  overflow: hidden;
  @include center-flex();
  @include size(279px, auto);
  max-width: 100%;

  &_article {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &_img {
    border-radius: 5px;
    object-fit: cover;
  }

  &_info_wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &_title_wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &_title {
    color: #333;
    font-family: var(--font-DuskDemon), sans-serif;
    font-size: 24px;
    line-height: 110%;
  }

  &_text {
    color: #868686;
    font-family: var(--font-Montserrat), sans-serif;
    font-weight: 500;
    line-height: 160%;
    text-transform: uppercase;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &_info {
    display: flex;
    gap: 8px;
  }

  &_author {
    color: #868686;
    font-family: var(--font-Montserrat), sans-serif;
    font-weight: 500;
    line-height: 160%;
    text-transform: uppercase;
  }

  &_date {
    color: #868686;
    font-family: var(--font-Montserrat), sans-serif;
    font-weight: 500;
    line-height: 160%;
    text-transform: uppercase;
  }
}
