@import '../../styles/utils/_variables.scss';
@import '../../styles/utils/_mixins.scss';

.partners {
  @include center-flex();
  @include size(100%, auto);
  flex-direction: column;
  gap: 50px;
  padding-bottom: 80px;

  @media (max-width: 425px) {
    padding-bottom: 20px;
  }

  &_title {
    color: #9f9ba4;
    font-family: var(--font-Montserrat);
    text-transform: uppercase;
    font-weight: 500;
  }

  .logos_wrapper {
    width: 100%;
    max-width: 1176px;
  }

  &_logos {
    //@include center-flex();
    //gap: 80px;
    text-wrap: nowrap;
    overflow: auto;
    svg {
      display: inline;
      margin-right: 80px;
      //display: block;
    }
  }
}
