@import '../../styles/utils/_variables.scss';
@import '../../styles/utils/_mixins.scss';

.section {
  @include center-flex();
  gap: 30px;
  background-color: #333;

  padding: 50px 0 50px 0;
}

.title {
  font-size: 34px;
  font-family: var(--font-DuskDemon), sans-serif;
  color: #fff;
}

.text_wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.text {
  font-size: 22px;
  font-family: var(--font-Montserrat), sans-serif;
  color: #868686;
}

.img {
  @include size(100%, auto);
  border-radius: 10px;
  object-fit: cover;
}
