@import "@/styles/utils/variables";


.container {
  background-color: #F6F6F6;
  max-height: 46px;
  border-radius: 5px;
  margin-bottom: 16px;
  overflow: hidden;
  transition: all 0.8s ease-in-out;
  &:first-child{
    margin-top: 24px;
  }
  @media (max-width: 382px) {
    max-height: 66px;
  }
}
.open{
  max-height: 232px;
  .toggler{
    div:first-child{
      transform: translate(-50%, -50%) rotate(180deg);
    }
    div:last-child{
      transform: translate(-50%, -50%) rotate(180deg);
    }
  }
  @media (max-width: 390px) {
    max-height: 300px
  }
}
.header {
  padding: 12px 16px;
  cursor: pointer;
  display: flex;
  gap: 10px;
  justify-content: space-between;
align-items: center;
}

.name {
  font-family: var(--font-Montserrat), sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  color: #333333;
  text-transform: uppercase;
  @media (max-width: 385px) {
    font-size: 12px;
  }
}

.toggler {
  min-width: 26px;
  min-height: 26px;
  border: 1px solid #A3978D;
  border-radius: 5px;
  position: relative;
  div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 14px;
    height: 1.5px;
    background-color:#333333 ;

    transition: all 0.4s ease-out;
  }

  div:last-child{
    transform: translate(-50%, -50%) rotate(270deg);
  }

}

.body{
  margin-top: 12px;
  padding-right: 16px;
  padding-left: 16px;
  padding-bottom: 12px;
}
.field{

  &:first-child{
    margin-bottom: 12px;
  }

  & > p{
    font-family: var(--font-Montserrat), sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 19px;
    color: #333333;
    text-transform: uppercase;
    margin-bottom: 12px;
  }

  .red{
    color: red;
    text-wrap: nowrap;
  }
}

.input{
  width: 170px;
  height: 46px;
  border: 1px solid #A3978D;
  border-radius: 5px;
  position: relative;
  input{
    text-align: center;
    height: 100%;
    width: 100%;
    background: transparent;
  }

  span{
    position: absolute;
    font-family: var(--font-Montserrat), sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    top: 50%;
    transform: translateY(-50%) scale(1.2);
    cursor: pointer;
  }
  .plus{
    left: 24px;
  }
  .minus{
    right: 24px;
  }

}
.field .price{
  font-family: var(--font-Montserrat), sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  color: $yellow-btn;
  margin-bottom: 0;
}
