@import '../../styles/utils/_variables.scss';
@import '../../styles/utils/_mixins.scss';

.footer {
  background-color: $bg-color;

  @include center-flex();
  @include size(100%, auto);
  gap: 40px;
  padding: 200px 60px 40px;

  position: relative;
  flex-direction: column;

  background-image: url('../../../public/images/footer/footer-top-bc.webp');
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: -2%;

  @media (max-width: 1250px) {
    padding-top: 120px;
  }
  @media (max-width: 1024px) {
    padding-right: 30px;
    padding-left: 30px;
  }
  @media (max-width: 490px) {
    padding-right: 15px;
    padding-left: 15px;
  }
  &_container {
    @include center-flex();
    width: 100%;
    max-width: 1440px;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    @media (max-width: 1258px) {
      justify-content: center;
      flex: 1;
    }
    @media (max-width: 630px) {
      flex-wrap: nowrap;
      flex-direction: column-reverse;
    }
    //@media (max-width: 1250px) {
    //  flex-direction: column-reverse;
    //  gap: 25px;
    //}
  }

  &_map {
    max-width: 366px;
    width: 100%;
    height: 435px;
    flex-shrink: 0;
    border-radius: 15px;
    @media (max-width: 1258px) {
      max-width: none;
      width: 48%;
    }
    @media (max-width: 630px) {
      width: 100%;
    }
  }

  &_info {
    background-color: #43444b;
    max-width: 366px;
    width: 100%;
    height: 435px;
    flex-shrink: 0;
    border-radius: 15px;
    color: $white;
    padding: 0px 40px 40px 40px;
    @media (max-width: 1258px) {
      max-width: none;
      width: 48%;
    }
    @media (max-width: 630px) {
      width: 100%;
    }
  }

  &_schedule {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    flex-direction: column;
    display: flex;
  }

  &_contacts {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    flex-direction: column;
    display: flex;
  }

  &_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #43444b;
    width: 366px;
    height: 435px;
    flex-shrink: 0;
    border-radius: 15px;
    color: $white;
    @media (max-width: 1258px) {
      width: 100%;
    }
  }

  &_title {
    font-family: var(--font-DuskDemon);
    text-align: center;
    font-size: 26px;
    line-height: 120%;
    // padding-bottom: 20px;
    padding-top: 40px;
  }

  &_text {
    font-size: 14px;
    font-weight: 500;
    line-height: 120%;
    text-transform: uppercase;
    font-family: var(--font-Montserrat), sans-serif;
    text-align: center;

    text-decoration: none;
    color: $white;
  }

  &_formTitle {
    font-family: var(--font-DuskDemon);
    text-align: center;
    font-size: 26px;
    font-weight: 400;
    line-height: 120%;
    padding-bottom: 40px;
    margin-top: 40px;
  }

  &_input {
    width: 286px;
    height: 60px;
    padding: 10px 20px;
    align-items: center;
    border-radius: 10px;
    background: $white;
    text-transform: uppercase;
    // border: 1px #000;
    margin-bottom: 0;
    font-family: var(--font-Montserrat);
    font-weight: 500;
  }

  &_button {
    background-color: $yellow-btn;
    color: #0d0d0d;
    width: 286px;
    height: 60px;
    padding: 9px 0px;
    border-radius: 10px;

    font-size: 14px;
    font-weight: 500;
    line-height: 16.8px;
    text-transform: uppercase;

    &:hover {
      background-color: #ffd135;
    }
  }

  &_formFields {
    display: flex;
    flex-direction: column;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  &_icons {
    margin-top: 40px;
    justify-content: center;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    display: flex;
  }

  &_icon {
    @include center-flex();
    background-color: #e5a40e;

    width: 40px;
    height: 40px;
    background-size: 20px;
    border-radius: 5px;
  }

  &_politics {
    width: 100%;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    color: $white;
    text-align: center;
    font-family: var(--font-Montserrat);
    font-weight: 500;
    line-height: 120%;

    a {
      text-decoration: none;
      color: $white;
    }
  }
}
