@import '../../styles/utils/_variables.scss';
@import '../../styles/utils/_mixins.scss';

.section {
  @include size(100%, auto);

  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 660px;
    width: 100%;

    @media (max-width: 1089px) {
      max-width: 520px;
      width: 100%;
    }

    @media (max-width: 768px) {
      max-width: 100%;
    }

    @media (max-width: 490px) {
      gap: 24px;
    }
  }

  .content_wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;

    @media (max-width: 490px) {
      gap: 24px;
    }
  }

  .text_wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @media (max-width: 490px) {
      gap: 16px;
    }
  }

  .title {
    color: #333;
    font-family: var(--font-Montserrat), sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 130%;
    text-transform: uppercase;
  }

  .text {
    color: #333;
    font-family: var(--font-Montserrat), sans-serif;
    font-weight: 500;
    line-height: 160%;
    text-transform: uppercase;
  }

  .button_wrapper {
    display: flex;
    gap: 20px;

    @media (max-width: 896px) {
      flex-direction: column;
    }

    @media (max-width: 768px) {
      flex-direction: row;
    }

    @media (max-width: 520px) {
      flex-direction: column;
      gap: 16px;
    }
  }

  .link {
    padding: 15px 24px;
    border-radius: 5px;
    background: #fec401;
    color: #420000;
    font-family: var(--font-Montserrat), sans-serif;
    font-weight: 500;
    line-height: 110%;
    text-transform: uppercase;

    @media (max-width: 896px) {
      width: fit-content;
    }
  }

  .button {
    padding: 15px 24px;
    color: #420000;
    font-family: var(--font-Montserrat), sans-serif;
    font-weight: 500;
    line-height: 110%;
    text-transform: uppercase;
    border-radius: 5px;
    border: 1px solid #fec401;

    @media (max-width: 896px) {
      width: fit-content;
    }
  }

  .image {
    width: 660px;
    max-height: 311px;
    border-radius: 5px;
    object-fit: cover;
    object-position: top;
    border-radius: 5px;

    @media (max-width: 1089px) {
      max-width: 520px;
      width: 100%;
    }

    @media (max-width: 768px) {
      max-width: 100%;
    }
  }
}
