@import '@/styles/utils/variables';
@import '../../styles/utils/_mixins.scss';

.news {
  width: fit-content;
  border-radius: 5px;
  overflow: hidden;

  .wrapper {
    position: relative;
    width: fit-content;
  }

  .img {
    object-fit: cover;
    border-radius: 5px;
  }

  .date {
    display: inline-flex;
    padding: 6px 8px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: #fec401;
    width: fit-content;
  }

  .title {
    color: #f3ede9;
    font-family: var(--font-DuskDemon);
    font-size: 24px;
    line-height: 110%;
  }

  .text_wrapper {
    position: absolute;
    bottom: 30px;
    left: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 239px;
  }
}

.big_news {
  .wrapper {
    position: relative;
  }
  .img {
    @include size(578px, 484px);
    object-fit: cover;
    border-radius: 5px;
  }

  .date {
    display: inline-flex;
    padding: 6px 8px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: #fec401;

    width: fit-content;
  }

  .title {
    color: #f3ede9;
    font-family: var(--font-DuskDemon);
    font-size: 24px;
    line-height: 110%;
  }

  .text_wrapper {
    position: absolute;
    bottom: 30px;
    left: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 377px;
  }
}

.tall_news {
  .wrapper {
    position: relative;
  }

  .img {
    @include size(279px, 484px);
    object-fit: cover;
    border-radius: 5px;
  }

  .date {
    display: inline-flex;
    padding: 6px 8px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: #fec401;
    width: fit-content;
  }

  .title {
    color: #f3ede9;
    font-family: var(--font-DuskDemon);
    font-size: 24px;
    line-height: 110%;
  }

  .text_wrapper {
    position: absolute;
    bottom: 30px;
    left: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 239px;
  }
}
