@import '../../styles/utils/_variables.scss';
@import '../../styles/utils/_mixins.scss';

.section {
  @include center-flex();
  @include size(100%, auto);
  margin-top: 40px;
  margin-bottom: 80px;

  .wrapper {
    max-width: 1176px;
    width: 100%;
  }

  .nav {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  .nav_prev {
    color: #333;
    opacity: 0.5;
    font-family: var(--font-Montserrat), sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 160%;
    text-transform: uppercase;
  }

  .nav_current {
    color: #333;
    font-family: var(--font-Montserrat), sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 160%;
    text-transform: uppercase;
  }

  .pages {
    margin-top: 50px;
    margin-bottom: 50px;

    display: flex;
    justify-content: space-between;
  }

  .active {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .border {
    border: 0.5px solid #333;
  }

  .page_active {
    color: #333;
    font-family: var(--font-DuskDemon), sans-serif;
    font-size: 24px;
    line-height: 110%;
  }

  .page {
    color: #333;
    opacity: 0.5;
    font-family: var(--font-DuskDemon), sans-serif;
    font-size: 24px;
    line-height: 110%;
  }

  .content {
    display: flex;
    gap: 20px;
  }

  .content_wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;

    border-radius: 10px;
    background: #f3ede9;
    padding: 24px 20px;
  }

  .title {
    color: #333;
    font-family: var(--font-DuskDemon), sans-serif;
    font-size: 24px;
    line-height: 110%;
  }

  .text {
    color: #333;
    font-family: var(--font-Montserrat), sans-serif;
    font-weight: 500;
    line-height: 160%;
    text-transform: uppercase;
  }

  .button {
    color: #420000;
    font-family: var(--font-Montserrat), sans-serif;
    font-weight: 500;
    line-height: 110%;
    text-transform: uppercase;

    padding: 15px 24px;
    border-radius: 5px;
    background: #fec401;
    width: 195px;
  }

  .image {
    @include size(461px, auto);
    object-fit: cover;
    border-radius: 10px;
  }
}
