@import '../../styles/utils/_variables.scss';
@import '../../styles/utils/_mixins.scss';

.section {
  @include size(100%, auto);
  flex-direction: column;
  padding: 0 20px 120px 20px;

  @media (max-width: 768px) {
    padding: 0 20px 60px 20px;
  }

  .title_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1176px;
    margin: 0 auto 50px;

    @media (max-width: 768px) {
      margin: 0 auto 30px;
    }
  }

  .title {
    display: flex;
    color: #333;
    font-family: var(--font-DuskDemon);
    font-size: 45px;
    line-height: 110%;

    @media (max-width: 550px) {
      font-size: 38px;
    }
  }

  .icons {
    display: flex;
    gap: 14px;

    & > div {
      cursor: pointer;
      display: block !important;
    }

    @media (max-width: 768px) {
      display: none;
    }
  }
}

.swiper_container {
  max-width: 1176px;
  margin: 0 auto;
}
