@import '../../styles/utils/_mixins.scss';

.card {
  @include size(403px, auto);
  border: 1px solid #a3978d;

  border-radius: 5px;
  padding: 20px;

  font-family: var(--font-Montserrat),sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 160%;
  text-transform: uppercase;
}

.text {
  color: #a3978d;
  margin-bottom: 30px;
}

.name {
  color: #333;
}